<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>System's Body</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/body.css" />
     <link rel="stylesheet" href="../static/css/footer.css" />
     <link rel="stylesheet" href="../static/css/header.css" />
  </head>

<script>
 function collapsElement(id) {
 if ( document.getElementById(id).style.display != "none" ) {
 document.getElementById(id).style.display = 'none';
 }
 else {
 document.getElementById(id).style.display = '';
 }
 }
 </script>

<body>

    {% include 'header.html' %}
  <div class="section__carousel">
      <div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../static/img/slayd1.jpg" alt="First slide" />

        <div class="carousel-caption " >
            <img src="../static/img/Logotip_Sistema.svg" style="width: 70%"><br>
            ООО «Центр Сертификации «СИСТЕМА» – один из стабильных российских представителей рынка в сфере разработки технической документации.
            <a href="/#sistem"><div class="bottomCarusel">Отправить заявку</div></a>
        </div></div>
    <div class="carousel-item" >
      <img class="d-block w-100" src="../static/img/3slayd.jpg" alt="Second slide" />
          <div class="carousel-caption">
              <img src="../static/img/Logotip_Sistema.svg "  style="width: 70%"><br>
              Руководство ООО «Центр Сертификации «СИСТЕМА» уделяет большое внимание регулярному повышению квалификации специалистов и обучению новых сотрудников, благодаря чему все работы выполняются качественно, оперативно и по оптимальным ценам.
              <a href="/#sistem"><div class="bottomCarusel">Отправить заявку</div></a>  </div></div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../static/img/2slayd_2variant.jpg" alt="Third slide" />
          <div class="carousel-caption" ><img src="../static/img/Logotip_Sistema.svg"  style="width: 70%"><br>
              Среди наших клиентов – компании из всех городов Россиин, в том числе крупнейшие Российские производители. Многолетний опыт работы и более 50 000 выполненных заказов обеспечили нам репутацию профессионального и надежного партнера.
              <a href="/#sistem"><div class="bottomCarusel">Отправить заявку</div></a>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >

    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >

    <span class="sr-only">Next</span>
  </a>
  </div>

  </div>


<div class="fon_benefit">
  <section class="section__benefit">
    <div class="container-fluid text-left text-md-left text-xs-left">
      <h1 class="section__header">Преимущества</h1>
      <div class="row" id="sector">
        <div class="container col-xs-12 col-sm-6 div-benefit">
          <img src="../static/img/cyan_square.png" alt="background" width="60" style="z-index: 1; position: absolute;">
          <img src="../static/img/bag.svg" alt="Bag" width="60" class="left-img" style="z-index: 2; left:-15px;">
          <h3>Партнерские отношения</h3>
          <p>с каждым клиеном</p>
        </div>
        <div class="container col-xs-12 col-sm-6 div-benefit">
          <img src="../static/img/cyan_square.png" alt="background" width="60" class="cyan-square" style="z-index: 1; position: absolute;">
          <img src="../static/img/roll.svg" alt="Roll" width="50" class="left-img" style="z-index: 2; left:-15px;">
          <h3>Ответственность</h3>
          <p>за каждый выполненый документ</p>
        </div>
      </div>
        
      <div class="row second-row" >
          <div class="container col-sm-6 div-benefit">
            <img src="../static/img/cyan_square.png" alt="background" width="60" style="z-index: 1; position: absolute;">
            <img src="../static/img/computer.svg" alt="Computer" width="62" class="left-img" style="z-index: 2; left:-15px;">
            <h3>Услуги с высоким уровнем сервиса</h3>
            <p>при подготовке к процессу сертификации</p>
          </div>
          <div class="container col-sm-6 div-benefit">
            <img src="../static/img/cyan_square.png" alt="background" class="cyan-square" width="60" style="z-index: 1; position: absolute;">
            <img src="../static/img/user.svg" alt="User" width="50" class="left-img" style="z-index: 2; left:-15px;">
              <h3>Эффективность и клиентоориентированость</h3>
              <p>на Россию и зарубеж</p>
            
          </div>
      </div>    
    </div>
  </section>
</div>
     <div class="imagess">
  </div>
<div class="fon">
    <div class="blocElement">
    <div class="dlin row col-xl-12">
        <div class="element"><div class="hed" id="element1">Разработка технической и эксплуатационной документации</div> <p>Технические условия</p>  <p>Обоснование безопасности </p>  <p>Паспорт продукции</p>  <p>Руководство по эксплуатации</p>
            <div class="button"><a  href="/documents/1"><img src="../static/img/strelki_black.jpg"  style="height: 50px"></a></div></div>
        <div class="element"><div class="hed" id="element2"> Разработка паспорта безопасности на химическую продукцию</div><p>Паспорт безопасности для сопровождения химической продукции на экспорт</p> <p>Паспорт безопасности химической продукции по ГОСТ 30333-2007</p>    <div class="button"><a  href="/documents/2"><img src="../static/img/strelki_black.jpg" style="height: 50px"></a></div></div>
        <div class="element" id="services"><div class="hed" id="element3">Разработка документации ХАССП</div> <p>Разработка документации ХАССП</p> <p>Аудит пищевого производства под заход в сети: Пятерочка, Окей, Ашан, Лента</p>    <div class="button" ><a  href="/documents/3"><img src="../static/img/strelki_black.jpg" style="height: 50px"></a></div></div>
        <div class="element"><div class="hed" id="element4">Сертификация и Декларирование</div><p>Сертификация и декларирование по ТР ТС</p><p>Сертификация и декларирование по ГОСТ Р </p><p>Добровольная сертификация</p>    <div class="button"><a  href="/documents/4"><img src="../static/img/strelki_black.svg" style="height: 50px"></a></div></div>
        <div class="element"><div class="hed" id="element5">Повышение квалификации</div><p>Пожарно-технический минимум</p><p>Охрана труда</p><p>Охрана труда на высоте</p><p>Аттестация по электробезопасности</p>    <div class="button"><a  href="/documents/5"><img src="../static/img/strelki_black.svg" style="height: 50px"></a></div></div>
        <div class="element"><div class="hed" id="element6">Дополнительные услуги партнерам</div><p>Бизнесконсалтинг</p><p>Тренинг</p>    <div class="button"><a  href="/documents/6"><img src="../static/img/strelki_black.jpg" style="height: 50px"></a></div></div>
    </div>
        <div class="mobil">
            <h4>Наши услуги</h4>
            <hr>
            <div class="services">Разработка технической и эксплуатационной документации
                <a href="/documents/1" class="strelkaa"><img src="../static/img/strelki_black.svg" class="mobil_strelka.jpg"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator')" title="" rel="nofollow"><img src="../static/img/strelki_black.svg" class="mobil_strelka"></a></div>
                <div id="identifikator" style="display: none">
                <div class="parent col-xl-7 col-sm-12 col-md-7">
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_1"><img src="../static/img/body2/1.1.png" alt="Руководство по эксплуатации" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_2"><img src="../static/img/body2/1.2.png" alt="Паспорт продукции" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_3"><img src="../static/img/body2/1.3.png" alt="Обоснование безопасности" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_4"><img src="../static/img/body2/1.4.png" alt="Технические условия" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_5"><img src="../static/img/body2/1.5.png" alt="Технические условия" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_6"><img src="../static/img/body2/1.6.jpg" alt="Технические условия" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_7"><img src="../static/img/body2/1.7.jpg" alt="Обоснование безопасности" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_8"><img src="../static/img/body2/1.8.jpg" alt="Паспорт продукции" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_9"><img src="../static/img/body2/1.9.jpg" alt="Руководство по эксплуатации" class="body2_img"></button></div>
      </div>
                </div>
                <hr>
                <div class="services">Разработка паспорта безопасности на химическую продукцию
                <a href="/documents/2" class="strelkaa"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator1')" title="" rel="nofollow"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a></div>
                <div id="identifikator1" style="display: none">
                <div class="parent col-xl-7 col-sm-12 col-md-7">
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_1"><img src="../static/img/body2/2.1.png" alt="Паспорт безопасности для сопровождения химической продукции на экспорт (SDS)" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_2"><img src="../static/img/body2/2.2.png" alt="Паспорт безопасности химической продукции по ГОСТ 30333-2007" class="body2_img"></button></div>
      </div>
                </div>
                <hr>
                <div class="services">Разработка документации ХАССП
                <a href="/documents/3" class="strelkaa"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator2')" title="" rel="nofollow"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a></div>
                <div id="identifikator2" style="display: none">
                <div class="parent col-xl-7 col-sm-12 col-md-7">
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_1"><img src="../static/img/body2/3.1.png" alt="ХАССП описание" class="body2_img"></button></div>
         <div class="colo"><button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop_2"><img src="../static/img/body2/3.2.png" alt="Результат работы по ХАССП" class="body2_img"></button></div>
       </div>
                </div>
                <hr>
                <div class="services">Сертификация и Декларирование
                <a href="/documents/4" class="strelkaa"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator3')" title="" rel="nofollow"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a></div>
                <div id="identifikator3" style="display: none">
                <p>Текст текст текст текст</p>
                </div>
                <hr>
                <div class="services">Повышение квалификации
                <a href="/documents/5" class="strelkaa"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator4')" title="" rel="nofollow"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a></div>
                <div id="identifikator4" style="display: none">
                <p>Текст текст текст текст</p>
                </div><hr>
                <div class="services">Дополнительные услуги партнерам
                <a href="/documents/6" class="strelkaa"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a>
                <a  class="strelkaa_mobil" href="javascript:collapsElement('identifikator5')" title="" rel="nofollow"><img src="../static/img/strelki_black.jpg" class="mobil_strelka"></a></div>
                <div id="identifikator5" style="display: none">
                <p>Текст текст текст текст</p>
                </div>
        </div>
    </div>
<div class="divImages" id="sistem">
 <img src="../static/img/Logotip_Sistema.svg" class="sistemImages" alt="background" width="500">
<div class="sistem">
    <div class="sistemBlock row" style="margin: 17%">
    <div class="sistemContent col-5" style="margin-left:3% ">
        <div class="textBlock1">
        <h5 style="margin-bottom:16px ">Cвяжитесь с нами</h5>
             <form action = "/result" method = "POST" class="conect">
            <p>ФИО <input type = "text" name = "username" class="fm" /></p>
            <p>Телефон <input type = "text" name = "phone" class="fm"/></p>
            <p>Email <input type = "text" name = "mail" class="fm"/></p>
            <p>Текст <input type ="text" name = "body"class="fm"/></p>
         <p><input type = "submit" value = "submit" class="bottomCarusel" style="color: white"/></p>
            </form>
        </div>
    </div>

    <div class="sistemContent col-5" id="CONTACTS">
        <p class="textBlock">
        Юридический адрес : 193318, РФ, Санкт-Петербург,
        ул. Ворошилова, дом 2, офис 617
        Фактический адрес : 193318, РФ, Санкт-Петербург,
        ул. Ворошилова, дом 2, офис 617
        ОГРН : 1157847454412
        ИНН/КПП : 7806215068/ 780601001
        р/с : 40702810332200001402
        к/с : 30101810600000000786
        БИК: 044030786
        Банк Филиал «Санкт-Петербургский» АО
        «АЛЬФА-БАНК»
        </p>
    </div>
    </div>


    <div class="sistemBlock_mini row" style="margin: 17%">
    <div class="sistemContent col-12" style="margin-left:3% ">
        <div class="textBlock1">
        <h5 style="margin-bottom:16px ">Cвяжитесь с нами</h5>
             <form action = "/result" method = "POST" class="conect">
            <p>ФИО <input type = "text" name = "username" class="fm" /></p>
            <p>Телефон <input type = "text" name = "phone" class="fm"/></p>
            <p>Email <input type = "text" name = "mail" class="fm"/></p>
            <p>Текст <input type ="text" name = "body"class="fm"/></p>
         <p><input type = "submit" value = "submit" class="bottomCarusel" style="color: white"/></p>
            </form>
        </div>
    </div>

    <div class=" col-12" id="CONTACTS">
        <p class="textBlock">
        Юридический адрес : 193318, РФ, Санкт-Петербург,
        ул. Ворошилова, дом 2, офис 617
        Фактический адрес : 193318, РФ, Санкт-Петербург,
        ул. Ворошилова, дом 2, офис 617
        ОГРН : 1157847454412
        ИНН/КПП : 7806215068/ 780601001
        р/с : 40702810332200001402
        к/с : 30101810600000000786
        БИК: 044030786
        Банк Филиал «Санкт-Петербургский» АО
        «АЛЬФА-БАНК»
        </p>
    </div>
    </div>




</div>
</div>
</div>
</div>
</div>


   {% include 'footer.html' %}
</main>

<script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script src='../static/js/script.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>



{#texxxxt#}
</body>
</html>