<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>System's Footer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/body.css" />
  </head>

<body>
{% include 'header.html' %}
<div class="container">
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div></div>
</div>


<div class="footer">{% include 'footer.html' %}</div>
</body>
</html>