<!-- footer-in -->

  <div class="footer">
    <footer class="page-footer">
      <div class="container-fluid text-center text-md-left text-xs-center">
        <v class="foo row">
          <div class="container col-sm-6 col-md-5 col-lg-4 border-r">
            <h5 style="color: white">ООО Центр сертификации “Система”</h5>
            <p style="color: #A7A7A7">
              Телефон : +7 (812)600-15-65, +7 (967)573-22-97<br />
              193318, г.Санкт-Петербург, ул. Ворошилова, дом 2, офис 617
            </p>
          </div>
          <div class="container col-sm-6 col-md-4 col-lg-5">
            <h5 style="color: white">
              <a href="tel:+79999999999"
                 style="color: white">+7 (999) 999 99 99</a
              >
            </h5>
            <a href="mailto:sistema@mail.ru"
             style=" color: white"><img src="../static/img/mail.svg" style="color: white"> sistema@mail.ru</a>
              <p class="sait" style="margin-top: 5px; color: white">Сайт разработан: InWeb</p></div>

            <div class="create-inweb col-md-3 col-lg-3">
                <p class="sait_2" style="color: #A7A7A7"; > Сайт разработан: InWeb</p></div>
        </v>
        </div>
    </footer>
  </div>


