
{#<nav class="bg-white sticky-top border-bottom py-0">#}

      <header>
          <nav>
              <div class="topnav" id='myTopnav'>
                <a href="body.html/#sector">Преимущества</a>
                <a href="body.html/#services" class='second-a-menu a-line'><span >Наши услуги</span></a>
                <a href="body.html/#CONTACTS">Контакты</a>
                <a href="#" id='menu' class="icon">&#9776;</a>
              </div>  
          </nav>
      </header>



    <script src='../static/js/script.js'></script>

{#</nav>#}