main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
html, body
{ width: 100%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
    height: 100%;
   }

.section__header {
  font-size: 25px;
  margin-bottom: 80px;
}

.section__benefit p {
  color: #979797;
  font-size: 12px;
}

.section__benefit h3 {
  margin: 0 auto;
  font-size: 16px;
}

section {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 80px;
}

@media screen and (min-width: 577px) {
  .second-row {
    margin-left: 8%;
  }
  .second-row .container {
    margin-top: 3%;
  }
  .div-benefit {
    margin: 40px auto;
  }

}

.left-img-layot img {
  float: left;
  margin: 0 0 3% 0;
  display: block;
}

.left-img {
  float: left;
  margin: 0 3% 3% 0;
  position: relative;
  margin-right: 7%;
}



/*Button up*/

#button {
  display: inline-block;
  background-color: #9b8c89;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 35px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.imagess{
  background-image: url(../img/background_3.jpg) ;
  /*width: 320px;*/
  /*background: black;*/
  height: 322px;
 background-attachment: fixed;
  margin-bottom: 200px;
}
@media screen and (max-width:1366px){

.imagess{
max-width: 100%;
    /*height: auto;*/
/*background: url(../img/background_3.jpg);}*/
}

.qwe{
   height: 322px;
}}
/*@media (max-width: 1000px){*/

/*  .images{*/
/*  background: url(../img/ibody.png) ;*/

/* background-attachment: inherit;*/
/*}*/


/*}*/
.element{
background: #F7FCFF;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 5px;
  width: 380px;
height: 407px;
position: relative;
  margin: 20px auto;

}
.dlin{
margin: 0  auto;

}
.hed{
width: 380px;
height: 72px;
background: rgba(0, 0, 85, 0.7);
border-radius: 5px;}

.blocElement{
margin: 0 auto;
  max-width: 1296px;
}
.sistem {
  /*width: 345px;*/
}
.sistemBlock{
background: #F7F7FB;
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
border-radius: 2px;

}
.sistemContent{
width: 990px;
   /*margin-left: auto;*/
    /*margin-right: auto;*/
/*height: 435px;*/
  font-family: Roboto;
font-style: normal;
font-weight: normal;
 font-size: 1vw;

color: #6B6B6B;

}
.sistemImages{
z-index: 1; position:absolute;top:-135px;left:80px
}
.textBlock{
margin-top: 99px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
   }
.textBlock1{
margin-top: 84px;
}
.vodTextBig{
 margin-bottom: 5%;
  width: 80%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 2px;
    border: 1px solid #000000;
}
.vodText{
  margin-bottom: 5%;
  width: 80%;
}
.divImages{
position: relative;
}

/*@media screen and (min-width:1800px){*/


/*    .sistemImages {*/
/*        width: 700px;*/
/*    top:-250px;*/
/*    }*/
/*}*/
.botImages{
width: 65%;
text-align: center;
border: 1px solid #000000;
  box-sizing: border-box;
border-radius: 16px;

  margin: 0 auto 20px;
    cursor: pointer;
    min-width:60px ;
}
.botImages:active{
border: 1px solid #DCDCDC;
    color: #DCDCDC;
}
@media screen and (min-width:1800px){


    .sistemImages {
        width: 700px;
    top:-250px;
    }
}
@media screen and (max-width:743px){


    .sistemImages {
        width: 400px;

    }

}
@media screen and (max-width:543px){


    .sistemImages {
        width: 330px;
        top:-90px;

    }
    .vodTextBig{  height: 40px;

    }
}
@media screen and (max-width:423px){

    .sistemImages {
        width: 210px;
top:-70px;
      left: 30px;
    }
    .textBlock1{
    margin-top: 50px}
    .element{width: 100%}
    .hed{
    width: 100%
}
    .vodText{
    height: 17px;
}
    .sistemContent{
font-size: 2vm;
}
}

.vodText{border: 1px solid #000000;
box-sizing: border-box;
border-radius: 2px;}
#element1{
background:rgba(0, 0, 85, 0.7) url("../img/Kartochki_1.jpg");
border-radius: 5px;
text-align: center;
color: #FFFFFF;}

#element2{
background: rgba(0, 0, 85, 0.7) url("../img/Kartochki_2.jpg");
border-radius: 5px;
text-align: center;
color: #FFFFFF;}

#element3{
background: rgba(0, 0, 85, 0.7) url("../img/Kartochki_3.jpg");
border-radius: 5px;
text-align: center;
color: #FFFFFF;}

#element4{
background: rgba(0, 0, 85, 0.7) url("../img/Kartochki_4.jpg");
 border-radius: 5px;
text-align: center;
color: #FFFFFF;}

#element5{
background: rgba(0, 0, 85, 0.7) url("../img/Kartochki_5.jpg");
border-radius: 5px; text-align: center;
color: #FFFFFF;}

#element6{
background: rgba(0, 0, 85, 0.7) url("../img/Kartochki_6.jpg");
border-radius: 5px; text-align: center;
color: #FFFFFF;}
.carousel-indicators{

left: inherit;
}
.carousel-indicators li{
width: 10px;
    height: 10px;
    background-color:#8BD3E2 ;
}
.button{
position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    margin-right:10px ;
    margin-bottom: 10px;
    border-radius: 50%;
  overflow: hidden;

}

@media screen and (max-width:767px) {
    .carousel-caption {
        width: 100%;
    }
}
.mes{
color: white;
}
.mes:hover{
    color: #000;
}
.bottomCarusel{
border: 1px solid #F3F3FF;
box-sizing: border-box;
border-radius: 8px;
    /*width: 30%;*/
    /* height: 30px;*/
  margin-top: 50px;
text-align: center;
    max-width: 180px;
    /*text-size:0.7rem*/
}
.botImages:hover{
background: #153675;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
    color: #FFFFFF;

}
.botImages:active{
    box-shadow:0 0 0 3px #153675 ;
}
.mr{
    margin-bottom: 5%;
    width: 80%;

}
.element p{
margin-left: 20px
}
.fon_benefit{
background:url("../img/background_1.jpg");
    padding-top:20px;
}
.fon{
background:url("../img/background_2.jpg");
    height: 100%;
}
.carousel-caption{
font-size: 2.1vw;
}
.bottomCarusel:hover{
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
    cursor: pointer;
    color: black;
}
.bottomCarusel:active{
     box-shadow:0 0 0 3px #FFFFFF;
}
.button:hover{
cursor: pointer;
    background: #153675;
    transition: 0.2s linear

}
.element p{
color:black;
}
.button:active{
background: rgba(21, 54, 117, 0.5);
    border-radius: 50%;
}

.carousel-control-prev-icon {
    position: absolute;
    width: 50%;
    height: 50%;
  background-image: url("../img/strelki.svg");
    transform: rotate(199grad);
    margin: 5px;
}
.carousel-control-next-icon {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 5px;
  background-image: url("../img/strelki.svg");
}

.carousel-control-prev-icon:hover{
    border-radius: 50%;
    /*background: white;*/
    color: black;
}